@model qms.Models.RegisterViewModel
@{
    ViewBag.Title = "User Register";
}

<div class="container">
    <div class="row">
        <h4 class="page-head-line">Create a new User</h4>
        <div class="col-md-2"></div>
            <div class="col-md-5">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @*@Html.LabelFor(model => model.branch_id, htmlAttributes: new { @class = "control-label col-md-4" })*@
           
                         <div class="col-md-8">
                            @Html.DropDownList("branch_id", null, "Select One Branch", htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @*@Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-4" })*@
                        <div class="col-md-8">
                            @Html.DropDownList("name", null, "Select One Role", htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @*@Html.LabelFor(m => m.Hometown, new { @class = "col-md-4 control-label" })*@
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Hometown, new { @class = "form-control", @placeholder = "Full Name" })
                        </div>
                    </div>
                    <div class="form-group">
                        @*@Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })*@
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                        </div>
                    </div>
                    <div class="form-group">
                        @*@Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })*@
                        <div class="col-md-8">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                        </div>
                    </div>
                    <div class="form-group">
                        @*@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })*@
                        <div class="col-md-8">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                        </div>
                    </div>
                    <div class="form-group">
                       
                        <div class="col-md-8">
                            <input type="submit" class="btn btn-color" value="Register" />
                            <button class="btn btn-color">
                                @Html.ActionLink("Back to List", "Index", "BranchUsers", new { area = "" }, new { @id = "btn" })
                            </button>
                        </div>
                    </div>
                }
            </div>

        </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>

    $(document).ready(function () {
        inp = $("#branch_id option:selected").text();
        if (inp == "Select One Branch") {
            $("#branch_id").attr('disabled', false);
        }
        else $("#branch_id").attr('disabled', true);
    });
</script>
