@model IEnumerable<qms.Models.tblCustomerType>
@{
    ViewBag.Title = "Customer Type";
}

<div class="container">
    <div class="row">
        <h4 class="page-head-line">Customer Type > List</h4>

        <button class="btn btn-color" style="margin-bottom : 10px;">
            @Html.ActionLink("Create New Customer Type", "Create")
        </button>
        <div class="col-md-12 scrollbar table-scroll">
            <table class="table table-hover table-bordered" id="data">
                <tr>
                    <th>
                        @Html.DisplayName("Cusomer Type Name")
                    </th>
                    <th>
                        @Html.DisplayName("Priority")
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.customer_type_name)
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.priority)</td>
                        <td>
                            <button class="btn btn-color">
                                @Html.ActionLink("Edit", "Edit", new { id = item.customer_type_id })
                            </button>
                            <button class="btn btn-color">

                                @Html.ActionLink("Delete", "Delete", new { id = item.customer_type_id })
                            </button>
                        </td>
                    </tr>
                }

            </table>
        </div>

    </div>
</div>