@model qms.ViewModels.VMServiceDetails
@using qms.Utility;
@*@model IEnumerable<qms.Models.tblServiceDetail>*@
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@{
    ViewBag.Title = "Customer Service";
    SessionManager sm = new SessionManager(Session);
}

<div class="container">
    <div class="row">
        <div class="page-head-line" style="position:relative; font-weight:bold; padding-bottom:3px">
            <div style="position:relative; float:left">
                <h4>Customer Service > Create Service </h4>
            </div>
            <div style="position:relative; float:right">
                Counter# @(sm.counter_no), &gt;&gt; Token # <span id="update-message"></span>

            </div>
            <div style="clear:both"></div>
        </div>

        <div class="row">
            <div class="form-group">
                <input type="hidden" id="hidtokenNo" name="hidtokenNo" />
                <div class="col-md-2">
                    @*@Html.ActionLink("Take A Break", "Create", "DailyBreaks", new { area = "" }, new { @class = "btn btn-info" })*@
                </div>
                <div class="col-md-8">

                </div>
            </div>
        </div>


        <div class="row" style="text-align:center">
            <div class="col-md-2" style="text-align:center">
                <button type="submit" onclick="NewServiceNo()" class="btn-squere-xl  btn-color marzin-bottom" id="newService_btn">
                    <span><i class="fa fa-bullhorn"></i></span> New Service
                </button>

                <button class="btn-squere-xl btn-color marzin-bottom">
                    <a href="@Url.Action("Index", "ServiceDetails")" title="Manual Call">
                        <span><i class="fa fa-user-plus"></i></span>
                        Manual Call
                    </a>
                </button>
                <button type="submit" onclick="Save()" class="btn-squere-xl  btn-color marzin-bottom" id="save_btn">
                    <span><i class="fa fa-cart-arrow-down"></i></span>Service Transfer
                </button>
                <button type="submit" onclick="Save()" class="btn-squere-xl  btn-color marzin-bottom" id="save_btn">
                    <span><i class="fa fa-list"></i></span>Skipped List
                </button>
                <button class="btn-squere-xl btn-color marzin-bottom">
                    <a href="@Url.Action("Create", "DailyBreaks")" title="Take A Break">
                        <span><i class="fa fa-coffee"></i></span>
                        Take A Break
                    </a>
                </button>
            </div>
            <div class="col-md-6" style="text-align:center">

                <table class="table table-striped">
                    <tr>

                        @*<td>Start Time</td>*@
                        <td>
                            <div style="position:relative">
                                <div style="position:relative; float:left">
                                    @Html.TextBoxFor(m => m.start_time, new { @class = "form-control Next", @placeholder = "Start Time" })
                                </div>
                                <div style="position:relative; float:right">
                                    @Html.TextBoxFor(m => m.service_type_name, new { @class = "form-control Next", @id = "txtServiceType", @placeholder = "Service Type" })
                                </div>
                                <div style="clear:both"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        @*<td>Services</td>*@
                        <td>@Html.DropDownList("service_sub_type_id", null, htmlAttributes: new { @class = "form-control", @placeholder = "Services" })</td>
                    </tr>
                    <tr>
                        @*<td>Mobile No</td>*@
                        <td>@Html.TextBoxFor(m => m.contact_no, new { @class = "form-control Next", @id = "txtContact", @placeholder = "Mobile No" }) @Html.ValidationMessageFor(m => m.contact_no)</td>
                        <td><button class="btn btn-color" onclick="GetCustomerInformation()">GO</button></td>
                    </tr>
                    <tr>
                        @*<td>Customer Name</td>*@
                        <td>@Html.TextBoxFor(m => m.customer_name, new { @class = "form-control Next", @id = "txtName", @placeholder = "Customer Name" }) @Html.ValidationMessageFor(m => m.customer_name)</td>
                    </tr>
                    <tr>
                        @*<td>Address</td>*@
                        <td>@Html.TextBoxFor(m => m.address, new { @class = "form-control Next", @id = "txtAddress", @placeholder = "Address" }) @Html.ValidationMessageFor(m => m.address)</td>
                    </tr>
                    <tr>
                        @*<td>Issues</td>*@
                        <td>@Html.TextAreaFor(m => m.issues, new { @class = "form-control Next", @id = "txtIssues", @row = "5", @placeholder = "Issues" }) @Html.ValidationMessageFor(m => m.issues)</td>
                    </tr>
                    <tr>
                        @*<td>Solutions</td>*@
                        <td>@Html.TextAreaFor(m => m.solutions, new { @class = "form-control Next", @id = "txtsolutions", @row = "5", @placeholder = "Solutions" }) @Html.ValidationMessageFor(m => m.solutions)</td>
                    </tr>
                    @*<tr>
                            <td>
                                <button type="submit" onclick="Save()" class="btn btn-lg btn-primary btn-block" id="save_btn">
                                        Done
                                    </button>
                            </td>
                            <td>
                                <button type="submit" onclick="SaveNext()" class="btn btn-lg btn-primary btn-block" id="saveNext_btn">
                                        Done & Next
                                    </button>
                            </td>
                            <td>
                                <button type="submit" onclick="CancelNext()" class="btn btn-lg btn-danger" id="cancelNext_btn">
                                        Cancel & Next
                                    </button>
                            </td>
                            <td>
                                <button type="submit" onclick="Cancel()" class="btn btn-lg btn-danger" id="cancel_btn">
                                        Cancel
                                    </button>
                            </td>
                        </tr>*@
                </table>
            </div>

            <div class="col-md-2" style="text-align:center">
                <button type="submit" onclick="SaveNext()" class="btn-squere-xl  btn-color marzin-bottom" id="saveNext_btn">
                    <span><i class="fa fa-chevron-circle-right"></i></span>Done & Next
                </button>
                <button type="submit" onclick="Save()" class="btn-squere-xl  btn-color marzin-bottom" id="save_btn">
                    <span><i class="fa fa-check-circle"></i></span>Done
                </button>

                <button type="submit" onclick="CancelNext()" class="btn-squere-xl  btn-color marzin-bottom" id="cancelNext_btn">
                    <span><i class="fa fa-angle-double-right"></i></span>Skip & Next
                </button>
                <button type="submit" onclick="Cancel()" class="btn-squere-xl  btn-color marzin-bottom" id="cancel_btn">
                    <span><i class="fa fa-times-circle"></i></span>Skip
                </button>
                <button type="submit" onclick="Cancel()" class="btn-squere-xl  btn-color marzin-bottom" id="cancel_btn">
                    <span><i class="fa fa-check-square"></i></span>Re-Assign
                </button>
            </div>
        </div>
        <div class="row">
            <div id="historyDiv" class="col-md-6">
                <h4>Previous Service History</h4>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Issues</th>
                            <th>Solutions</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody id="tablebody"></tbody>
                </table>
            </div>
        </div>


    </div>
</div>

@section scripts{
    <script src="~/Scripts/sqms/service-details.js"></script>
    
}
