@model qms.ViewModels.VMServiceDetails
@using qms.Utility;
@*@model IEnumerable<qms.Models.tblServiceDetail>*@
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@{
    ViewBag.Title = "Customer Service";
    SessionManager sm = new SessionManager(Session);
}
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <input type="hidden" id="hiduserId" name="hidUser" />
        <div class="page-head-line" style="position:relative; font-weight:bold; padding-bottom:3px">
            <div style="position:relative; float:left">
                <h4>Customer Service > Create Service </h4>
            </div>
            <div style="position:relative; float:right">
                Counter# @(sm.counter_no), &gt;&gt; Token # <span id="update-message"></span>

            </div>
            <div style="clear:both"></div>
        </div>

        <div class="row">
            <div class="form-group">
                <input type="hidden" id="hidtokenNo" name="hidtokenNo" />
                <div class="col-md-2">
                    @*@Html.ActionLink("Take A Break", "Create", "DailyBreaks", new { area = "" }, new { @class = "btn btn-info" })*@
                </div>
                <div class="col-md-8">

                </div>
            </div>
        </div>


        <div class="row" style="text-align:center">
            <div class="col-md-2" style="text-align:center">
                <button type="submit" onclick="NewServiceNo()" class="btn-squere-xl  btn-color marzin-bottom" id="newService_btn">
                    <span><i class="fa fa-bullhorn"></i></span> Recall
                </button>


                <button type="submit" onclick="ManualCall()" class="btn-squere-xl  btn-color marzin-bottom" id="manual_call_btn">
                    <span><i class="fa fa-user-plus"></i></span>Call Token
                </button>
                <button type="submit" onclick="Transfer()" class="btn-squere-xl  btn-color marzin-bottom" id="Transfer_btn">
                    <span><i class="fa fa-cart-arrow-down"></i></span>Counter Transfer
                </button>

                <button class="btn-squere-xl btn-color marzin-bottom">
                    <a href="@Url.Action("Skipped", "TokenQueues")" title="Skipped List">
                        <span><i class="fa fa-list"></i></span>
                        Missing List
                    </a>
                </button>

            </div>
            <div class="col-md-7" style="text-align:center">

                <table class="table table-striped">
                    <tr>

                        @*<td>Start Time</td>*@
                        <td>
                            <div style="position:relative">
                                <div style="position:relative; float:left">
                                    Service Type :
                                </div>
                                <div style="position:relative; float:right">
                                    @Html.TextBoxFor(m => m.service_type_name, new { @class = "form-control Next", @id = "txtServiceType", @placeholder = "Service Type" })
                                </div>
                                <div style="clear:both"></div>
                            </div>
                            <div style="position:relative">
                                <div style="position:relative; float:left">
                                    Token Issue Time :
                                </div>
                                <div style="position:relative; float:right">
                                    @Html.TextBoxFor(m => m.generate_time, new { @class = "form-control Next", @placeholder = "Generation Time", @id = "txtgnTime" })
                                </div>
                                <div style="clear:both"></div>
                            </div>
                            <div style="position:relative">
                                <div style="position:relative; float:left">
                                    Token Call Time :
                                </div>
                                <div style="position:relative; float:right">
                                    @Html.TextBoxFor(m => m.call_time, new { @class = "form-control Next", @id = "txtCallTime", @placeholder = "Call Time" })
                                </div>
                                <div style="clear:both"></div>
                            </div>
                            <div style="position:relative">

                                <div style="position:relative; float:left">
                                    Waiting Time :
                                </div>


                                <div style="position:relative; float:right">
                                    @Html.TextBoxFor(m => m.waitingtime, new { @class = "form-control Next", @id = "txtWtTime", @placeholder = "Waiting Time" })
                                </div>
                                <div style="clear:both"></div>
                                <div style="position:relative; float:left">
                                    Service Start Time:
                                </div>
                                <div style="position:relative; float:right">
                                    @Html.TextBoxFor(m => m.start_time, new { @class = "form-control Next", @placeholder = " Service Start Time" })
                                </div>
                                <div style="clear:both"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.DropDownList("service_sub_type_id", null, htmlAttributes: new { @class = "form-control", @placeholder = "Services" })</td>
                    </tr>
                    <tr>
                        <td>@Html.TextBoxFor(m => m.contact_no, new { @class = "form-control Next", @id = "txtContact", @placeholder = "Mobile No" }) @Html.ValidationMessageFor(m => m.contact_no)</td>
                        <td><button class="btn btn-color" onclick="GetCustomerInformation()">History</button></td>
                    </tr>
                   
                    <tr>
                        <td>@Html.TextAreaFor(m => m.issues, 5, 20, new { @class = "form-control Next", @id = "txtIssues", @row = "10", @placeholder = "Issues" }) @Html.ValidationMessageFor(m => m.issues)</td>
                    </tr>
                    <tr>
                        <td>@Html.TextAreaFor(m => m.solutions, 7, 20, new { @class = "form-control Next", @id = "txtsolutions", @row = "10", @placeholder = "Solutions" }) @Html.ValidationMessageFor(m => m.solutions)</td>
                    </tr>

                </table>
            </div>

            <div class="col-md-2" style="text-align:center">
                <button type="submit" onclick="SaveNext()" class="btn-squere-xl  btn-color marzin-bottom" id="saveNext_btn">
                    <span><i class="fa fa-chevron-circle-right"></i></span>Next
                </button>

                <button type="submit" onclick="CancelNext()" class="btn-squere-xl  btn-color marzin-bottom" id="cancelNext_btn">
                    <span><i class="fa fa-angle-double-right"></i></span>Customer Missing
                </button>

                <button type="submit" onclick="AddService()" class="btn-squere-xl  btn-color marzin-bottom" id="cancel_btn" data-toggle="modal" data-target="#myModalSave">
                    <span><i class="fa fa-plus-square"></i></span>Add Service
                </button>

                <button type="submit" onclick="loadBreakDialog()" class="btn-squere-xl  btn-color marzin-bottom" id="cancel_btn" data-toggle="modal" data-target="#myModalSave">
                    <span><i class="fa fa-coffee"></i></span>Break
                </button>
                
            </div>
        </div>
        <div class="row">
            <div id="historyDiv" class="col-md-offset-2 col-md-6">
                <h4>Previous Service History</h4>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Issues</th>
                            <th>Solutions</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody id="tablebody"></tbody>
                </table>
            </div>
        </div>


    </div>
</div>
<div id="div-services" title="Service List">
    <div id="div-type">
        @Html.DropDownList("service_type_id", null, htmlAttributes: new { @class = "form-control", @placeholder = "Service Types" })
    </div>
    <div id="div-sub-type" class="row" style="border:1px solid #EAEAEA;
            padding-top:5px;
            text-align:left;
            padding-left:5px;
            margin-top:25px; 
            margin-right:0px;
            margin-left:0px;">
        
    </div>
    
</div>
<div id="dialog-url" title="Information">

</div>

<div id="dialog-message" title="Information">
    <div id="body">
        
    </div>
</div>

@section scripts{

    <script src="~/Scripts/modal/jquery-1.12.4.js"></script>
    <script src="~/Scripts/modal/jquery-ui.js"></script>
    <script src="~/Scripts/modal/modal.js"></script>
    <script src="~/Scripts/modal/tab.js"></script>

    <script src="~/Scripts/sqms/date.js"></script>
    <script src="~/Scripts/sqms/service-details.js"></script>

}
