@using Microsoft.AspNet.Identity
@using qms.Utility
@model IEnumerable<qms.ViewModels.VMTokenSkipped>

@{
    ViewBag.Title = "Token Skipped List";
}

<div class="container">
    <div class="row">

        <h4 class="page-head-line">Token > Token Skipped List </h4>
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-3"></div>
            <div class="col-md-7">
                <div id="message" style="height: 50px;font-size: 20px;padding-top:10px;" class="col-md-offset-5 col-md-7 alert alert-success"></div>
            </div>

        </div>






        <div class="form-group">
            @Html.Label("Branch:", new { @class = "col-md-1 control-label" })
            <div class="col-md-3" style="margin-bottom :10px;">

                <select name="branch_name" class="form-control" id="branch_name">
                    <option value="">All Branch</option>
                    @foreach (var item in ViewBag.branchList)
                    {
                        if (item.branch_id == ViewBag.userBranchId)
                        {
                            <option value="@item.branch_id" selected="selected">@item.branch_name</option>
                        }
                        else
                        {
                            <option value="@item.branch_id">@item.branch_name</option>
                        }

                    }

                </select>

            </div>

            <div class="col-md-5"></div>
            <div class="col-md-3">
                <input type="text" style="font-size: medium;background-color: lightyellow" class="pull-right col-md-3 form-control" placeholder="Search" id="filterBox" onkeyup="FilterTable()" />
            </div>
        </div>
        <div class="col-md-12 scrollbar table-scroll" style="margin-bottom : 20px;">

            <table class="table table-hover table-bordered" id="data">
                <tr id="Hedding" style="text-align: center">
                    <th>
                        @Html.DisplayName("Branch Name")
                    </th>
                    <th>
                        @Html.DisplayName("Counter No")
                    </th>
                    <th>
                        @Html.DisplayName("User Name")
                    </th>
                    <th>
                        @Html.DisplayName("Token No")
                    </th>
                    <th>
                        @Html.DisplayName("Customer Name")
                    </th>

                    <th>
                        @Html.DisplayName("Contact No")
                    </th>

                    <th>
                        @Html.DisplayName("Cancel Time")
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.branch_name)
                    </td>
                    <td id="token" style="text-align : center;">

                        @Html.DisplayFor(modelItem => item.counter_no)
                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => item.user_full_name)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.token_no_formated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.customer_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.contact_no)
                    </td>

                    <td>

                        @Html.DisplayFor(modelItem => item.cancel_time)
                    </td>
                    <td>
                        
                            <a href="@Url.Action("ReInitiate", "TokenQueues", new { token_id = @Html.DisplayFor(modelItem => item.token_id) })" class="btn btn-color" title="Re-initiate">
                                Re-initiate
                            </a>
                        <a href="@Url.Action("AssignToMe", "TokenQueues", new { token_id = @Html.DisplayFor(modelItem => item.token_id) })" class="btn btn-color" title="Re-initiate">
                            Assign To Me
                        </a>
                        
                    </td>

                </tr>


                }



            </table>

        </div>

    </div>
</div>
@section scripts{
    <script src="~/Scripts/sqms/token-queue-index.js"></script>

}